
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid chocolate;
  background-color: #faedcd;
  padding: 10px 10px;
}



li {

display: inline-block;
margin: 20px;
cursor: pointer;


}